#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    z-index: 1;
    background-color: #dc3545;
    color: #fff;
    padding-top: 1rem;
}

#sidebar .logo img {
    width: 80%;
    margin: 0 auto;
    display: block;
}

#sidebar ul.nav.flex-column {
    padding-left: 0;
    margin-top: 2rem;
}

#sidebar .nav-link {
    color: #fff;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

#sidebar .nav-link:hover {
    background-color: #c82333;
}

#sidebar .active {
    background-color: #ffff;
    color: red;
}

/* Main Content */
#main-content {
    margin-left: 250px;
    padding: 20px;
}

.dashboard-content {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dashboard-header {
    margin-bottom: 20px;
}

.dashboard-title {
    font-size: 2rem;
}

.add-button {
    font-size: 1rem;
}

.table-container {
    margin-top: 20px;
}

.password-input {
    width: 200px;
    /* Adjust width as needed */
}

.toggle-password {
    cursor: pointer;
    margin-left: 5px;
}